/* ========================================= */
/* SEÇÃO DE INFORMAÇÕES DO USUÁRIO  */
/* ========================================= */
.user-info-section {
  display: flex;
  align-items: center;
  padding: 1.5rem 0;
}

.perfil-main-area {
  min-height: calc(100vh - 80px);
  overflow-y: auto;
  padding-bottom: 5rem;
}

.profile-avatar {
  margin-right: 2rem;

  .circular-avatar-wrapper {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: linear-gradient(135deg, #777777 0%, #808080 100%);
    padding: 5px;
    box-shadow: 0 0 0 4px rgba(25, 30, 53, 0.5);
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }

    .profile-pic {
      border: 3px solid #fff;
    }
  }
}

.logout-btn-container {
  display: flex;
  justify-content: end;
}

.logout-btn-container .btn {
  border-radius: 50px;
  padding: 6px 14px;
  font-size: 0.85rem;
}

.user-details {
  h2 {
    font-size: 1.8rem;
    font-weight: 700;
    color: #212529;
    margin-bottom: 0.25rem;
  }
}

.circular-avatar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-initial-text {
  font-size: 48px;
  font-weight: 600;
  color: #fff;
}

/* ========================================= */
/* CARD
  /* ========================================= */
.card {
  border: 1px solid #e9ecef;
  border-radius: 16px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  background-color: #ffffff;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  }

  .card-title {
    font-size: 1.1rem;
    color: #343a40;
    margin-bottom: 1rem !important;
  }

  .card-content {
    .icon-text {
      color: #6c757d;

      .bi {
        font-size: 1.1rem;
        color: #ffc000;
      }
    }

    .chevron {
      color: #adb5bd;
    }
  }

  .text-details {
    font-size: 0.9rem;
  }
}

/* ========================================= */
/* ÚLTIMAS RECEITAS 
/* ========================================= */
.last-recipes-list {
  background: #ffffff;
  border-radius: 16px;
  padding: 0.75rem 0;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);
  border: 1px solid #e9ecef;
}

.recipe-item {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 12px;
  transition: all 0.25s ease;
}

.recipe-item i {
  font-size: 1.1rem;
  color: #ffc000;
}

.recipe-item:hover {
  background: #f8f9fa;
  transform: translateX(4px);
}