<div class="container-fluid perfil-main-area">
  <section class="user-info-section mb-5">
    <div class="profile-avatar">
      <div class="circular-avatar-wrapper">
        <img
        />
      </div>
    </div>

    <div class="user-details">
      <h2>{{ usuario.nome }}</h2>
      <p class="edit-photo" (click)="editarFoto()">Editar Foto</p>
    </div>
  </section>

  <div class="row g-3 card-grid">
    <div class="col-6 col-md-4">
      <div class="card p-3 h-100" (click)="openEditModal('conta')">
        <h6
          class="card-title fw-bold mb-3 d-flex justify-content-between align-items-center"
        >
          Minha Conta
          <i class="bi bi-pencil-square text-primary cursor-pointer fs-6"></i>
        </h6>
        <div class="text-details">
          <p class="mb-1">
            <i class="bi bi-envelope me-2"></i> Email: **{{ usuario.email }}**
          </p>
          <p class="mb-3">
            <i class="bi bi-phone me-2"></i> Número de Telefone: **{{
              usuario.telefone
            }}**
          </p>
        </div>
      </div>
    </div>

    <div class="col-6 col-md-4">
      <div class="card p-3 h-100" (click)="openEditModal('ingredientes')">
        <h6
          class="card-title fw-bold mb-3 d-flex justify-content-between align-items-center"
        >
          Ingredientes
          <i class="bi bi-pencil-square text-primary cursor-pointer fs-6"></i>
        </h6>
        <div class="text-details">
          <p class="mb-1">Cadastre aqui suas restrições alimentares</p>
          <div class="icon-text">
            <i class="bi bi-slash-circle"></i> Restrições Ativas ({{
              restricoesArray.length
            }})
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  #editModal
  tabindex="-1"
  aria-labelledby="editModalLabel"
  aria-hidden="true"
  [class.show]="isModalOpen"
  [style.display]="isModalOpen ? 'block' : 'none'"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">
          Editar
          {{ modalFormType === "conta" ? "Minha Conta" : "Ingredientes" }}
        </h5>
        <button
          type="button"
          class="btn-close"
          (click)="closeModal()"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <form *ngIf="modalFormType === 'conta'" [formGroup]="accountForm">
          <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input
              type="text"
              id="nome"
              value="{{ usuario.nome }}"
              formControlName="nome"
              class="form-control"
            />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input
              type="email"
              id="email"
              value="{{ usuario.email }}"
              formControlName="email"
              class="form-control"
            />
          </div>
          <div class="mb-3">
            <label for="telefone" class="form-label">Telefone</label>
            <input
              type="text"
              id="telefone"
              value="{{ usuario.telefone }}"
              formControlName="telefone"
              class="form-control"
            />
          </div>
        </form>

        <form
          *ngIf="modalFormType === 'ingredientes'"
          [formGroup]="restrictionForm"
        >
          <label class="form-label d-block mb-3"
            >Restrições Alimentares / Ingredientes</label
          >

          <div formArrayName="items" class="mb-3">
            <div
              *ngFor="let item of restricoesArray.controls; let i = index"
              [formGroupName]="i"
              class="input-group mb-2"
            >
              <input
                type="text"
                formControlName="nome"
                class="form-control"
                placeholder="Ex: Glúten, Leite"
              />
              <button
                type="button"
                class="btn btn-outline-danger"
                (click)="removeRestriction(i)"
              >
                <i class="bi bi-trash"></i>
              </button>
            </div>
          </div>

          <button
            type="button"
            class="btn btn-outline-success w-100"
            (click)="addRestriction()"
          >
            <i class="bi bi-plus-circle me-2"></i> Adicionar Nova Restrição
          </button>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="saveChanges(modalFormType!)"
          [disabled]="
            modalFormType === 'conta'
              ? accountForm.invalid
              : restrictionForm.invalid
          "
        >
          Salvar Alterações
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal-backdrop fade"
  [class.show]="isModalOpen"
  [style.display]="isModalOpen ? 'block' : 'none'"
></div>
